.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  height: 780px;
  width: 350px;
}

.right {
  background-color: rgba(0, 0, 0, 0.5);
}

.left {
  background-color: red;
}

.leftBox {
  animation: slide-in 1 1s linear;
}

.centerButton {
  position: relative;
}

@keyframes slide-in {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: 420px;
  }
}
