.rightBox {
  animation: slide-in 1 1s linear;
}
.rightBoxes {
  animation: slide-out 1 1s linear;
}

.book {
  position: relative;
}

@keyframes slide-in {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: 50%;
  }
}

@keyframes slide-out {
  from {
    margin-right: 50%;
  }
  to {
    margin-right: 0px;
  }
} 

