.about-live {
  font-size: 73px;
  margin-right: 95px;
}

.beauty {
  font-size: 56px;
  margin-left: 29px;
}

.arrow {
  width: 120px;
  transform: translate(0em, 39em);
  opacity: 0.55;
  position: absolute;
}

.line {
  width: 76em;
  background: #d89ba6;
  height: 3px;
}

.point {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 14px solid #d89ba6;
  transform: translate(76em, -20px);
}
