.about-live {
}

.beauty {
}

.arrow {
  width: 120px;
  transform: translate(0em, 39em);
  opacity: 0.55;
  position: absolute;
}

.line {
  width: 76em;
  background: var(--color-pink);
  height: 3px;
}

.point {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 14px solid var((--color-pink));
  transform: translate(76em, -20px);
}
